@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Lora', serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.9970 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.4254 0.1159 144.3078);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9067 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9571 0.0210 147.6360);
  --muted-foreground: oklch(0.4254 0.1159 144.3078);
  --accent: oklch(0.9761 0 0);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9067 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.4254 0.1159 144.3078);
  --chart-1: oklch(0.4254 0.1159 144.3078);
  --chart-2: oklch(0.5234 0.1347 144.1672);
  --chart-3: oklch(0.5752 0.1446 144.1813);
  --chart-4: oklch(0.6731 0.1624 144.2083);
  --chart-5: oklch(0.7185 0.1417 144.8887);
  --sidebar: oklch(0.9571 0.0210 147.6360);
  --sidebar-foreground: oklch(0.4254 0.1159 144.3078);
  --sidebar-primary: oklch(0.4254 0.1159 144.3078);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8952 0.0504 146.0366);
  --sidebar-accent-foreground: oklch(0.4254 0.1159 144.3078);
  --sidebar-border: oklch(0.8292 0.0827 145.8169);
  --sidebar-ring: oklch(0.4254 0.1159 144.3078);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.5234 0.1347 144.1672);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2931 0 0);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.2815 0.0231 168.0128);
  --muted-foreground: oklch(0.7660 0.1179 145.2950);
  --accent: oklch(0.2931 0 0);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.3600 0 0);
  --input: oklch(0.2178 0 0);
  --ring: oklch(0.5234 0.1347 144.1672);
  --chart-1: oklch(0.5234 0.1347 144.1672);
  --chart-2: oklch(0.5752 0.1446 144.1813);
  --chart-3: oklch(0.6731 0.1624 144.2083);
  --chart-4: oklch(0.7185 0.1417 144.8887);
  --chart-5: oklch(0.7660 0.1179 145.2950);
  --sidebar: oklch(0.2815 0.0231 168.0128);
  --sidebar-foreground: oklch(0.7660 0.1179 145.2950);
  --sidebar-primary: oklch(0.5234 0.1347 144.1672);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3731 0.0382 161.1302);
  --sidebar-accent-foreground: oklch(0.7660 0.1179 145.2950);
  --sidebar-border: oklch(0.4145 0.0309 160.6235);
  --sidebar-ring: oklch(0.5234 0.1347 144.1672);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.25rem;
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}